{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="container">
		<div class="row introduction"></div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
