@font-face {
  font-family: Caribbean;
  src: url("../fonts/Caribbean.ttf");
}

body {
  background-color: black;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
}

nav {
  font-family: Caribbean;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Caribbean;
  color: white;
}

h1 {
  text-align: center;
  padding: 20px 0;
  background-color: black;
}

.introduction {
  background-image: url("../images/desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em;
  padding-top: 6em;
  font-size: 14pt;
  height: 800px;
}

.introduction p::first-letter {
  font-family: Caribbean;
  font-size: 2em;
}
