@font-face {
  font-family: Caribbean;
  src: url("../fonts/Caribbean.ttf");
}

@font-face {
  font-family: Pirate;
  src: url("../fonts/JackPirate.ttf");
}

body {
  background-color: black;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
}

nav {
  font-family: Caribbean;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Caribbean;
  color: white;
}

h1 {
  text-align: center;
  padding: 20px 0;
  background-color: black;
}

p {
  font-family: Pirate;
}

.nav-item {
  border: 1px transparent;
}

.nav-item:hover {
  color: black !important;
  background-color: #cb9b51;
  border: 1px solid black !important;
  border-radius: 5px;
}
