/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .book .btn-search {
    width: 85px;
    height: 85px;
  }
  .coords {
    font-size: 60px;
  }
  .sea {
    background: url("../images/sea-md.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .port {
    background: url("../images/port-md.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .island {
    background: url("../images/island-md.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  #boat {
    width: 50px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* homepage */
  .introduction {
    padding: 150px 150px 0 0;
    font-size: 14pt;
    height: 800px;
  }
  .book {
    width: 325px;
    height: 400px;
  }
  .coverDesign .logo-book {
    width: 200px;
    margin-top: 20px;
  }
  .book:hover > .page li:nth-child(3) {
    -webkit-transform: rotateY(-118deg);
    -moz-transform: rotateY(-118deg);
    transform: rotateY(-118deg);
  }
  .page p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .book .btn-search {
    width: 100px;
    height: 100px;
  }
  .book .btn-search .btn-search-text {
    font-size: 13px;
    padding: 5px;
  }
  /* map */
  .coords {
    font-size: 80px;
  }
  .sea {
    background: url("../images/sea-lg.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .port {
    background: url("../images/port-lg.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .island {
    background: url("../images/island-lg.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .navigation-infos {
    flex-direction: column;
  }
  .compass,
  .board {
    height: 200px;
  }
  #boat {
    width: 70px;
  }

  /* section victory */
  .victory {
    font-size: 20px;
    height: 800px;
  }
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
