@font-face {
  font-family: Caribbean;
  src: url("../fonts/Caribbean.ttf");
}

@font-face {
  font-family: Pirate;
  src: url("../fonts/JackPirate.ttf");
}

body {
  padding-top: 70px;
  margin: 0;
  background-color: black;
  background: url("../images/background.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

nav {
  font-family: Caribbean;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Caribbean;
  color: white;
}

h1 {
  text-align: center;
  padding: 20px 0;
  background-color: black;
}

p {
  font-family: Pirate;
}

ul {
  margin-bottom: 0;
}

.navbar-nav .nav-link {
  text-align: center;
}

.nav-item {
  border: 1px transparent;
}

.nav-item:hover {
  color: black !important;
  background-color: #cb9b51;
  border: 1px solid black !important;
  border-radius: 5px;
}

.congratulations .btn {
  font-family: Caribbean;
  font-size: 12px;
}
